# Compiled class file
*.class

# Log files
*.log

# Compiled Java bytecode
/target/

# Eclipse files
.classpath
.project
.settings/

# Operating System Files
.DS_Store
Thumbs.db

# Eclipse metadata
.metadata/
